* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 200px;
}

.half-width {
    width: 50%;
    padding: 35px;

}

.half-width img {
    width: 80%;
}

.link-button {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    margin-top: 30px;
    padding: 5px 40px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-part {
    background-image:  url(images/dream-bg.png);
    

    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom:160px ;
}
.h1down{
    padding-left: 35px;
    padding-bottom: 50px;

}
.experience-flex{
    display: flex;
    justify-content: space-evenly;
    
}
.experience-box{
    width: 40%;
    margin-left:5px;
    margin-right: 5px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}
#border1{
    border-left: 7px solid #4C0033;
}

#border2{
    border-left: 7px solid #31087B;
}
.fot{
    text-align: center;
    color:#472D2D ;
}